body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.flex-container{
    display: flex;
    gap: 2rem;
    width: 40%;
    justify-content: space-around;
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.568);
    border-radius: 10px;
    padding: 1rem;
}
h1{
    color: red;
    text-decoration: underline;
}
p{
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 139, 12);
}
h2{
    font-size: 14px;
    padding: 0 10rem 1rem 10rem;
    margin: 0;
    text-align: center;
    font-weight: 300;
    letter-spacing: 2px;
    word-spacing: 3px;
    font-style: italic;
    font-family:serif;
}
.flex-container>div{
    box-shadow: 0 0 5px rgb(148, 148, 148);
    padding:0.5rem 0.6rem;
}