html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(10, 10, 10);
    max-width: 100vw;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 30px;
    color: #DEEAEE;
}
#name{
    z-index: 200;
}
#name div{
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 0.7rem;
  

}
.container {
    width: 90vw;
    height: 90vh;
    margin: 0 auto;
    background-image: linear-gradient(rgb(22, 22, 22),rgb(78, 78, 78));
    border-radius: 20px;
    box-shadow: 0 1px 10px rgb(0, 0, 0);
    display: flex;
    /* display: flex;
    align-items: center;
    padding-bottom: 1rem; */
}
.container .video{
flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

#player {
  background-color: #DEEAEE;
}
hr{
    width: 95%;
    opacity: 0.4;
    margin: 0;
}
button {
    font-family: 'Inter', sans-serif;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
    padding: 10px ;
    margin-top: 0.3rem;
    background: transparent;
}
button div{
    display: flex;
    font-size: 1.3rem;
    text-align: start;
    align-items: center;
    gap: 0.8rem;
    padding: 0.3rem 1rem;
}
button img{width: 28px;}

button:hover {
    box-shadow: inset 0 0 10px rgb(190, 190, 255);
    cursor: pointer;
}
button:active{
    background-color: rgba(0,0,0,0.5);
}
.songs {
    flex: 0.7;
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 10px;
    background-color: rgb(37, 37, 37);
    padding: 1rem ;

}
iframe{
    border-radius: 10px;
    margin-top: 10px;
}
.active{
    opacity: 1;
    background-color: rgba(0,0,0,0.5);

}